body{
    background-color: #121212
}



.head{
    width: 300px;
    height: 40px;
    display: block;
    margin: 20px auto 0;
    border-bottom: 1px solid white ;
    transition: width 0.5s, border 0.5s, border-radius 0.5s ;
   
    
}

.logo{
    width: 35px;
    height: auto;
    display: block;
    margin:auto;
    
}

.nav{
   
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s, opacity 0.3s;
}

.head.scrolled{

    width: 500px;
    border: 1px solid white;
    border-radius: 50px;
}